SQLite Scaffolder/SQLite.Scaffolder.Example/obj/Debug/build.force
SQLite Scaffolder/SQLite.Scaffolder.Example/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
SQLite Scaffolder/SQLite.Scaffolder.Example/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
SQLite Scaffolder/SQLite.Scaffolder.Example/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
SQLite Scaffolder/SQLite.Scaffolder.Example/obj/Release/build.force
SQLite Scaffolder/SQLite.Scaffolder.Tests/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
SQLite Scaffolder/SQLite.Scaffolder.Tests/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
SQLite Scaffolder/SQLite.Scaffolder.Tests/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
SQLite Scaffolder/SQLite.Scaffolder.Tests/obj/Release/build.force
SQLite Scaffolder/SQLite.Scaffolder/bin/Release/SQLite.Scaffolder.dll.config
SQLite Scaffolder/SQLite.Scaffolder/bin/Release/System.Data.SQLite.xml
SQLite Scaffolder/SQLite.Scaffolder/obj/Release/SQLite.Scaffolder.csproj.FileListAbsolute.txt
SQLite Scaffolder/SQLite.Scaffolder/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
SQLite Scaffolder/SQLite.Scaffolder/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
SQLite Scaffolder/SQLite.Scaffolder/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
SQLite Scaffolder/SQLite.Scaffolder.Example/bin/Debug/SQLite.Scaffolder.Example.vshost.exe.manifest
SQLite Scaffolder/SQLite.Scaffolder.Example/bin/Release/SQLite.Scaffolder.Example.exe.config
SQLite Scaffolder/SQLite.Scaffolder.Example/bin/Release/SQLite.Scaffolder.Example.vshost.exe.config
SQLite Scaffolder/SQLite.Scaffolder.Example/bin/Release/SQLite.Scaffolder.Example.vshost.exe.manifest
SQLite Scaffolder/SQLite.Scaffolder.Example/obj/Release/SQLite.Scaffolder.Example.csproj.FileListAbsolute.txt
SQLite Scaffolder/JUST GIVE ME THE DLLs/IMPORTANT.txt
SQLite Scaffolder/JUST GIVE ME THE DLLs/SQLite.Scaffolder.dll.config
SQLite Scaffolder/JUST GIVE ME THE DLLs/System.Data.SQLite.xml
